<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png" href="img/favicon.png" />
</head>

<body>
<main class="index-page-container">
    <a class="main-site-link" src="#">
        <img class="site-logo" th:src="@{/img/site-logo-main.png}" src="img/site-logo-main.png" width="103" height="50"/>
    </a>
    <form th:classappend="${error == 'wrongEnterData'} ? enter-wrong-data" action="userpage.html" th:action="'/enter'" th:object="${user}" method="post" class="enter-form" id="enter-form">
        <input type="text" th:field="*{name}" name="username" id="enter-form-username" class="enter-form-field enter-form-username" placeholder="Name" autocomplete="off"/>
        <input type="password" th:field="*{password}" name="password" id="enter-form-password" class="enter-form-field enter-form-password" placeholder="Password" autocomplete="off"/>
        <input type="submit" value="Begin" class="enter-form-enter" />
        <div class="enter-to-register-button" id="enter-to-register-button">Register</div>
    </form>
    <form th:attr="class=${error == 'usernameTaken'} ? 'register-form register-username-taken' : 'register-form'" th:classappend="${error == 'passwordMismatch'} ? 'register-password-mismatch'" action="userpage.html" th:action="@{/register}" th:object="${user}" method="post" class="register-form" id="register-form">
        <input type="text" th:field="*{name}" id="register-form-username" class="enter-form-field register-form-username" placeholder="Name" autocomplete="off"/>
        <input type="password" th:field="*{password}" id="register-form-password" class="enter-form-field register-form-password" placeholder="Password" autocomplete="off"/>
        <input type="password" th:field="*{passwordСheck}" id="register-form-password-confirmation" class="enter-form-field register-form-password" placeholder="Once more" autocomplete="off"/>
        <input type="submit" value="Register" class="register-form-register" />
    </form>
</main>
<script src="js/libs/jquery-3.1.1.js" th:src="@{/js/libs/jquery-3.1.1.js}"></script>
<script src="js/js.js" th:src="@{/js/js.js}"></script>
</body>

</html>