<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png" href="img/favicon.png" />
</head>

<body class="user-page">
    <header class="page-header">
        <div class="page-header__container">
            <a class="page-header__site-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="85px" height="42px">
                    <text font-family="Lobster" fill="rgb(255, 255, 255)" font-size="40px" x="0px" y="32px">Shelf</text>
                    <path stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" fill="rgb(255, 255, 255)" d="
                    M1.000,36.000
                    L58.000,36.000
                    L58.000,39.000
                    L1.000,39.000
                    L1.000,36.000 Z" />
                </svg>
            </a>
            
            <form class="page-header__add-task">
                <label class="page-header__add-task__name-label"></label>
                <input class="page-header__add-task__name" type="text"/>
                <input class="page-header__button page-header__add-task__submit" type="submit"/>
            </form>

            <button class="page-header__button page-header__add">Настройки</button>
            <button class="page-header__button page-header__completed">Законченные</button>
            <button class="page-header__button page-header__settings">Настройки</button>
            <nav class="user-nav">
                <a class="user-nav__link">Settings</a>
                <a class="user-nav__link">About</a>
                <a class="user-nav__link">Exit</a>
            </nav>
        </div>
    </header>
    <main class="page-main">
        <aside class="task-nav-container">
            <nav class="task-nav">
                <div class="task-nav__selector task-nav__date task-nav__date--today" href="#">
                    <a class="task-nav__link" href="#">Today</a>
                </div>
                <div class="task-nav__selector task-nav__date task-nav__date--week" href="#">
                    <a class="task-nav__link" href="#">Week</a>
                </div>
                <div class="task-nav__selector task-nav__date task-nav__date--period" href="#">
                    <a class="task-nav__link" href="#">Period</a>
                </div>
                <h2 class="task-nav__shelves-head">Projects</h2>
                <div href="#" class="task-nav__selector task-nav__project red">
                    <a class="task-nav__link" href="#">English</a>
                    <button class="button-edit task-nav__edit">Edit</button>
                    <div class="task-nav__selector-menu">
                        <a class="task-nav__selector-menu__action">Edit</a>
                        <a class="task-nav__selector-menu__action">Delete</a>
                    </div>
                </div>
                <div href="#" class="task-nav__selector task-nav__project blue">
                    <a class="task-nav__link" href="#">University</a>
                    <button class="button-edit task-nav__edit">Edit</button>
                    <div class="task-nav__selector-menu">
                        <a class="task-nav__selector-menu__action">Edit</a>
                        <a class="task-nav__selector-menu__action">Delete</a>
                    </div>
                </div>
                <div href="#" class="task-nav__selector task-nav__project pink">
                    <a class="task-nav__link" href="#">Health</a>
                    <button class="button-edit task-nav__edit">Edit</button>
                    <div class="task-nav__selector-menu">
                        <a class="task-nav__selector-menu__action">Edit</a>
                        <a class="task-nav__selector-menu__action">Delete</a>
                    </div>
                </div>
                <button class="task-nav__add-project-button">Add new</button>
                <form method="post" action="#" class="task-nav__add-project">
                    <label for="task-nav__add-project__name">Название</label>
                    <input id="task-nav__add-project__name" class="task-nav__add-project__name" type="text" autocomplete="off"/>
                    <button id="task-nav__add-project__submit" class="task-nav__add-project__submit" type="submit"/>
                    <button type="button" class="task-nav__add-project__cancel"/>
                </form>
            </nav>
        </aside>
        <section class="tasks-view">
            <div class="tasks-date-group">
                <h2 class="tasks-date-group__date">December, 28</h2>
                <div class="task">
                    <h3 class="task__name">
                        Do stuff
                        <button class="button-edit task__button task__edit">Edit</button>
                    </h3>
                    <button class="task__button task__complete">Complete</button>
                </div>
                <div class="task">
                    <h3 class="task__name">
                        Do stuff
                        <button class="button-edit task__button task__edit">Edit</button>
                    </h3>
                    <button class="task__button task__complete">Complete</button>
                </div>
                <h3 class="task-date-group__add">Add new</h3>
            </div>
            <div class="tasks-date-group">
                <h2 class="tasks-date-group__date">December, 28</h2>
                <div class="task">
                    <h3 class="task__name">
                        Do stuff
                        <button class="button-edit task__button task__edit">Edit</button>
                    </h3>
                    <button class="task__button task__complete">Complete</button>
                </div>
                <div class="task">
                    <h3 class="task__name">
                        Do stuff
                        <button class="button-edit task__button task__edit">Edit</button>
                    </h3>
                    <button class="task__button task__complete">Complete</button>
                </div>
                <h3 class="task-date-group__add">Add new</h3>
            </div>
        </section>
    </main>
    <script src="js/libs/jquery-3.1.1.js" th:src="@{/js/libs/jquery-3.1.1.js}"></script>
    <script src="js/js.js" th:src="@{/js/js.js}"></script>
</body>

</html>