<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/favicon.png}" rel="icon" type="image/png" href="../static/img/favicon.png" />
</head>

<body>
<main class="index-page">
    <a class="main-site-link" src="#">
        <img class="site-logo" src="../static/img/site-logo-main.png" width="103" height="50"/>
    </a>
    <form action="userpage.html" method="post" class="enter-form" id="enter-form">
        <input type="text" name="username" id="enter-form-username" class="enter-form-field enter-form-username" placeholder="Name" autocomplete="off"/>
        <input type="password" name="password" id="enter-form-password" class="enter-form-field enter-form-password" placeholder="Password" autocomplete="off"/>
        <input type="submit" value="Begin" class="enter-form-enter" />
        <div class="enter-to-register-button" id="enter-to-register-button">Register</div>
    </form>
    <form action="userpage.html" method="post" class="register-form" id="register-form">
        <input type="text" id="register-form-username" class="enter-form-field register-form-username" placeholder="Name" autocomplete="off"/>
        <input type="password" id="register-form-password" class="enter-form-field register-form-password" placeholder="Password" autocomplete="off"/>
        <input type="password" id="register-form-password-confirmation" class="enter-form-field register-form-password" placeholder="Once more" autocomplete="off"/>
        <input type="submit" value="Register" class="register-form-register" />
    </form>
</main>
<script src="../static/js/libs/jquery-3.1.1.js" th:src="@{/js/libs/jquery-3.1.1.js}"></script>
<script src="../static/js/js.js" th:src="@{/js/js.js}"></script>
</body>

</html>